<section class="ontario-core-margin-top-4">
  <h2 class="ontario-core-heading-large">Appointments</h2>

  <p class="ontario-core-body ontario-core-margin-top-2">
    Schedule and view appointments here. (Functionality coming soon.)
  </p>

  <table class="ontario-core-table ontario-core-margin-top-2">
    <thead> … </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        <td>{{ appointment.Appointment_ID }}</td>
        <td>{{ appointment.Client_ID }}</td>
        <td>{{ appointment.Appointment_DateTime}}</td>
        <td>{{ appointment.Client_ID }}</td>
        <td>{{ appointment.Location }}</td>
        <td>{{ appointment.Client_Notes }}</td>
      </tr>
    </tbody>
  </table>
 
</section>
